{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <div class="column">
    <header class="ui header"> Weather App </header>
    <p> Monitor latest weather station readings </p>
  </div>

</section>


